- var NEW_3 = LANG.new_3.content;

.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="/img/new_2.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1= NEW_3.text_1
				p.new-content__text.text-2.text-2--1= NEW_3.text_2
				p.new-content__text.text-2.text-2--1= NEW_3.text_3
				p.new-content__text.text-2.text-2--1= NEW_3.text_4
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item= NEW_3.item_1
				li.list-new__item= NEW_3.item_2
				li.list-new__item= NEW_3.item_3
				li.list-new__item= NEW_3.item_4
				li.list-new__item= NEW_3.item_5
				li.list-new__item= NEW_3.item_6
				li.list-new__item= NEW_3.item_7
			.new-content__desc
				p.new-content__text.text-2.text-2--1= NEW_3.text_5