- var PHILOSOPHY = LANG.about.philosophy;

section.philosophy
	.container
		.philosophy__top
			img.philosophy__photo(src="img/svg/about-map.svg", alt="map")
			.philosophy__content
				h2.philosophy__title.title.title--dark.title--2= PHILOSOPHY.title_1
				p.philosophy__text.text-2.text-2--1= PHILOSOPHY.desc_1
			.philosophy__content
				h2.philosophy__title.title.title--dark.title--2= PHILOSOPHY.title_2
				p.philosophy__text.text-2.text-2--1= PHILOSOPHY.desc_2
		.philosophy__bottom
			.philosophy__left
				h2.philosophy__title.title.title--dark.title--2= PHILOSOPHY.title_3
				.philosophy__desc
					p.philosophy__text.text-2.text-2--1= PHILOSOPHY.desc_3_1
					p.philosophy__text.text-2.text-2--1= PHILOSOPHY.desc_3_2
			.philosophy__photos.photos
				.photos__wrap.photos__wrap--1
					img.photos__item(src="img/photo_1.jpg", alt="photo")
				.photos__wrap.photos__wrap--2
					img.photos__item(src="img/photo_2.jpg", alt="photo")
				.photos__wrap.photos__wrap--3
					img.photos__item(src="img/photo_3.jpg", alt="photo")
				.photos__wrap.photos__wrap--4
					img.photos__item(src="img/photo_4.jpg", alt="photo")
