- var ABOUT = LANG.about.solutions;

section.solutions
	.container
		.solutions__top
			h2.solutions__title.title.title--dark.title--3.column-big!= ABOUT.title
			p.solutions__desc.text-2.text-2--2!= ABOUT.desc
		.solutions__wrap
			.solutions__col.solution_result
				p.solution_result__ttl= ABOUT.solution_ttl_1
				.solution_result__wrap
					p.solution_result__item Call Center predictive calling flows. Integrations with CRM,WMS 1.0
					p.solution_result__item CIS Coverage
			.solutions__col.solution_result
				p.solution_result__ttl= ABOUT.solution_ttl_2
				.solution_result__wrap
					p.solution_result__item Dynamic order lifecycle
					p.solution_result__item 3rd party phone lines support, guaranteed size of pool per Communication program
					p.solution_result__item Operators bonus systems, permissions, loyalty programs per offer support
			.solutions__col.solution_result
				p.solution_result__ttl= ABOUT.solution_ttl_3
				.solution_result__wrap
					p.solution_result__item LeadHub Continuous Deployment establishment, dynamic inbound/outbound routes support
					p.solution_result__item Analytics System integration, event streaming to BI, Transport layer refactoring (polling to streaming)
			.solutions__col.solution_result
				p.solution_result__ttl= ABOUT.solution_ttl_4
				.solution_result__wrap
					p.solution_result__item Thai, Mexico, Vietnam, Singapore orders, VAT calculators, logistics
					p.solution_result__item WMS 2.0 Integrations, WMS to WMS 2.0 migration. P&L, invoices, regulation reports
					p.solution_result__item CRM WMF integration, Call Server 1.0 release, new locations/locales support
			.solutions__col.solution_result
				p.solution_result__ttl ∞
				.solution_result__wrap