- var TEAM = LANG.about.team;

mixin employee(src, name, post)
	.employee
		.employee__photo
			img.employee__img(src=src, alt="employee")
		p.employee__name.title.title--light.title--5!=name
		p.employee__post!=post


-
	const employeePhotos = [
		'img/employee_1.jpg',
		'img/employee_2.jpg',
		'img/employee_3.jpg',
		'img/employee_4.jpg',
		'img/employee_5.jpg',
		'img/employee_6.jpg',
		'img/employee_7.jpg',
	];

section.team
	.container
		h2.team__title.title.title--light.title--2= TEAM.title_main
		.team__list
			each employee, key in TEAM.employeeArray
				+employee(employeePhotos[key], employee.name, employee.post)
		.team__bottom
			h2.team__ttl.title.title--light.title--4.column-big!= TEAM.title
			p.team__desc.text-2.text-2--1= TEAM.desc
			.team__btn.btn.btn--empty(href="cereer.html")= TEAM.btn