- var INTEGRATION_DESC = LANG.integrations_prod.desc;


section.integrations-desc
	.container
		.integrations-desc__top
			include ../advantage-list
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big!= INTEGRATION_DESC.title_1
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2!= INTEGRATION_DESC.text_1
				ul.integrations-desc__list.list-tasks.text-2--2
					each text in INTEGRATION_DESC.block_1
						li.list-tasks__item!= text
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big!= INTEGRATION_DESC.title_2
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2!= INTEGRATION_DESC.text_2
				.integrations-desc__wrap
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_2_1
							li.list-tasks__item!= text
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_2_2
							li.list-tasks__item!= text
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big!= INTEGRATION_DESC.title_3
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2!= INTEGRATION_DESC.text_3
				ul.integrations-desc__list.list-tasks.text-2--2
					each text in INTEGRATION_DESC.block_3
						li.list-tasks__item!= text
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big!= INTEGRATION_DESC.title_4
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2!= INTEGRATION_DESC.text_4
				.integrations-desc__wrap
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_4_1
							li.list-tasks__item!= text
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_4_2
							li.list-tasks__item!= text
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big!= INTEGRATION_DESC.title_5
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2!= INTEGRATION_DESC.text_5
				.integrations-desc__wrap
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_5_1
							li.list-tasks__item!= text
					ul.integrations-desc__list.list-tasks.text-2--2
						each text in INTEGRATION_DESC.block_5_2
							li.list-tasks__item!= text