- var DESCRIPTION_CRM = LANG.crm.description;

section.description.description--crm
	.container
		.description__top
			.description__row
				.description__col
					img(src="/img/svg/description_crm_1.svg", alt="image")
				.description__desc
					p.description__ttl.title.title--dark.title--3= DESCRIPTION_CRM.title_1
					p.description__text.text-2--1= DESCRIPTION_CRM.desc_1
			.description__row
				.description__desc
					p.description__ttl.title.title--dark.title--3!= DESCRIPTION_CRM.title_2
					p.description__text.text-2--1= DESCRIPTION_CRM.desc_2
				.description__col
					picture
						source(srcset="/img/description_crm_2.webp", type="image/webp")
						source(srcset="/img/description_crm_2@2x.png")
						img(src="/img/description_crm_2.png", alt="image")
		.description__bottom
			h2.description__title.title.title--dark.title--4= DESCRIPTION_CRM.title_form
			include ../../form-int