- var INTEGRATION_CRM = LANG.crm.integration;

include ../../mixins/list-optm

section.integration.integration--crm
	.container
		h2.integration__title.title.title--dark.title--2= INTEGRATION_CRM.title_main
		p.integration__subtitle.text-2--2= INTEGRATION_CRM.desc
		.integration__wrap
			.integration__col
				img.integration__img(src="/img/svg/integration_crm_1.svg", alt="integration_crm")
			.integration__info
				h2.integration__ttl.title.title--dark.title--3= INTEGRATION_CRM.title
				+list-optm(INTEGRATION_CRM.listArray)
	.integration__center
		h2.integration__ttl-small.title.title--dark.title--4= INTEGRATION_CRM.title_slider
		.integration__slider.slider-int.js-integration-slider
			.slider-int__photo
				picture
					source(srcset="/img/integration_slider_crm_1.webp", type="image/webp")
					source(srcset="/img/integration_slider_crm_1@2x.jpg")
					img(src="/img/integration_slider_crm_1.jpg", alt="photo")
			.slider-int__photo
				picture
					source(srcset="/img/integration_slider_crm_2.webp", type="image/webp")
					source(srcset="/img/integration_slider_crm_2@2x.jpg")
					img(src="/img/integration_slider_crm_2.jpg", alt="photo")
			.slider-int__photo
				picture
					source(srcset="/img/integration_slider_crm_3.webp", type="image/webp")
					source(srcset="/img/integration_slider_crm_3@2x.jpg")
					img(src="/img/integration_slider_crm_3.jpg", alt="photo")
			.slider-int__photo
				picture
					source(srcset="/img/integration_slider_crm_4.webp", type="image/webp")
					source(srcset="/img/integration_slider_crm_4@2x.jpg")
					img(src="/img/integration_slider_crm_4.jpg", alt="photo")
			.slider-int__photo
				picture
					source(srcset="/img/integration_slider_crm_5.webp", type="image/webp")
					source(srcset="/img/integration_slider_crm_5@2x.jpg")
					img(src="/img/integration_slider_crm_5.jpg", alt="photo")
	.container
		.integration__bottom
			.integration__desc
				h2.integration__subject.title.title--dark.title--3= INTEGRATION_CRM.subject
				p.integration__text.text-2.text-2--1= INTEGRATION_CRM.text
			img.integration__photo(src="/img/svg/integration_crm_2.svg", alt="integration_crm")