- var STATISTICS_CRM = LANG.crm.statistics;

section.statistics-prod
	.container
		.statistics-prod__top
			h2.statistics-prod__title.title.title--dark.column-big= STATISTICS_CRM.title
			p.statistics-prod__desc.text-2--2= STATISTICS_CRM.desc
		.statistics-prod__bottom
			.item-st.item-st--green
				.item-st__wrap
					p.item-st__ttl 15+
					p.item-st__text!= STATISTICS_CRM.item_text_1
			.item-st.item-st--green
				.item-st__wrap
					p.item-st__ttl 24/7
					p.item-st__text!= STATISTICS_CRM.item_text_2
			.item-st.item-st--green
				.item-st__wrap
					p.item-st__ttl 1 200
					p.item-st__text!= STATISTICS_CRM.item_text_3