- var PURPOSE = LANG.case.purpose;

section.purpose
	.container
		.purpose__wrap
			h2.purpose__title.title.title--dark.title--4.column-big!= PURPOSE.title
			.purpose__info
				p.purpose__text.text-2--2= PURPOSE.desc
				ul.purpose__list.list-tasks.text-2--2
					li.list-tasks__item= PURPOSE.item_1
					li.list-tasks__item= PURPOSE.item_2
					li.list-tasks__item= PURPOSE.item_3
					li.list-tasks__item= PURPOSE.item_4
					li.list-tasks__item= PURPOSE.item_5
					li.list-tasks__item= PURPOSE.item_6
					li.list-tasks__item= PURPOSE.item_7
					li.list-tasks__item= PURPOSE.item_8
					li.list-tasks__item= PURPOSE.item_9
					li.list-tasks__item= PURPOSE.item_10