- var STATISTICS_CASE = LANG.case.statistics;

section.statistics.statistics--case
	.container
		.statistics__top
			h2.statistics__title.title.title--dark.title--3.column-big= STATISTICS_CASE.title
			p.statistics__desc.text-2--2= STATISTICS_CASE.desc
		.statistics__bottom
			.item-st.item-st--grey
				.item-st__wrap
					p.item-st__ttl 10+
					p.item-st__text!= STATISTICS_CASE.item_1
			.item-st.item-st--grey
				.item-st__wrap
					p.item-st__ttl 24/7
					p.item-st__text!= STATISTICS_CASE.item_2
			.item-st.item-st--grey
				.item-st__wrap
					p.item-st__ttl 1 500
					p.item-st__text!= STATISTICS_CASE.item_3