- var STEPS = LANG.case.steps;

section.steps#info
	.container
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big= STEPS.title_1
			p.step__text.text-2.text-2--2= STEPS.desc_1
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big= STEPS.title_2
			.step__wrap
				p.step__text.text-2.text-2--2= STEPS.desc_2
				.step__info
					img.step__img(src="/img/svg/smartmedia.svg", alt="smartmedia")
					a.step__link(href="https://smartmedia.network", target="_blank") https://smartmedia.network
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big= STEPS.title_3
			p.step__text.text-2.text-2--2= STEPS.desc_3