- var PRIVACY = LANG.privacy.content;

section.content
	.container
		.content__wrapper
			.content__block
				.content__desc
					each text in PRIVACY.block_1
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_1
				.content__desc
					each text in PRIVACY.block_2_1
						p.content__text.text-2--1!= text
				ul.content__list.list-tasks.text-2--1
					each text in PRIVACY.block_2_2
						li.list-tasks__item!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_2
				.content__desc
					each text in PRIVACY.block_3
						p.content__text.text-2--1!= text
					p.content__text-link.text-2--1 Acurella Limited
					p.content__text-link.text-2--1 Email: 
						a.content__link(href="mailto:support@acurella-tl.com") support@acurella-tl.com
					p.content__text-link.text-2--1 Website: 
						a.content__link(href="acurella-tl.com" target="_blank") acurella-tl.com
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_3
				.content__desc
					each text in PRIVACY.block_4
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_4
				.content__desc
					each text in PRIVACY.block_5
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_5
				.content__desc
					each text in PRIVACY.block_6
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_6
				.content__desc
					each text in PRIVACY.block_7
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_7
				.content__desc
					each text in PRIVACY.block_8
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_8
				.content__desc
					each text in PRIVACY.block_9
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_9
				.content__desc
					each text in PRIVACY.block_10
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_10
				.content__desc
					each text in PRIVACY.block_11
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_11
				.content__desc
					each text in PRIVACY.block_12
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_12
				ul.content__list.list-tasks.text-2--1
					each text in PRIVACY.block_13_1
						li.list-tasks__item!= text
				ul.content__list.content__list--sub.text-2--1
					each text in PRIVACY.block_13_2
						li.list-tasks__item!= text
				.content__desc.content__desc--list
					each text in PRIVACY.block_13_3
						p.content__text.text-2--1!= text
				ul.content__list.list-tasks.text-2--1
					each text in PRIVACY.block_13_4
						li.list-tasks__item!= text
				ul.content__list.content__list--sub.text-2--1
					each text in PRIVACY.block_13_5
						li.list-tasks__item!= text
				ul.content__list.list-tasks.text-2--1
					each text in PRIVACY.block_13_6
						li.list-tasks__item!= text
				ul.content__list.content__list--sub.text-2--1
					each text in PRIVACY.block_13_7
						li.list-tasks__item!= text
				.content__desc.content__desc--list
					each text in PRIVACY.block_13_8
						p.content__text.text-2--1!= text
				ul.content__list.list-tasks.text-2--1
					each text in PRIVACY.block_13_9
						li.list-tasks__item!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_13
				.content__desc
					each text in PRIVACY.block_14
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_14
				.content__desc
					each text in PRIVACY.block_15
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_15
				.content__desc
					each text in PRIVACY.block_16
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_16
				.content__desc
					each text in PRIVACY.block_17
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_17
				.content__desc
					each text in PRIVACY.block_18
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_18
				.content__desc
					each text in PRIVACY.block_19
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_19
				.content__desc
					each text in PRIVACY.block_20
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_20
				.content__desc
					each text in PRIVACY.block_21
						p.content__text.text-2--1!= text
			.content__block
				h2.content__title.title.title--4.title--dark!= PRIVACY.title_21
				.content__desc
					each text in PRIVACY.block_22
						p.content__text.text-2--1!= text