- var BUTTONS = LANG.btns;
- var CHART = LANG.home.chart;


section.chart
	.container
		.chart__top
			h2.chart__title.title.title--dark.title--5.column-big!= CHART.title
			p.chart__desc.text-2--2!= CHART.desc
			a.btn.btn--full.chart__btn.js-show-popup(data-target="#popup-demo")= BUTTONS.btn_text_3
		.chart__bottom
			.graph
				.graph__col
					.graph__wrap
						p.graph__ttl!= CHART.graph_ttl_1
						p.graph__label.text-4!= CHART.graph_label_1
				.graph__col
					.graph__wrap
						p.graph__ttl!= CHART.graph_ttl_2
						p.graph__label.text-4!= CHART.graph_label_2
				.graph__col
					.graph__wrap
						p.graph__ttl!= CHART.graph_ttl_3
						p.graph__label.text-4!= CHART.graph_label_3
				.graph__col
					.graph__wrap
						p.graph__ttl!= CHART.graph_ttl_4
						p.graph__label.text-4!= CHART.graph_label_4
