- var HEADER = LANG.home.header;
- var BUTTONS = LANG.btns;

header.header
	.container
		.header__slider.js-header-slider
			.slide.slide--0
				.slide__content
					h1.slide__title.title.title--light.title--1!= HEADER.title_1
					p.slide__text.text-2--1= HEADER.desc_1
					a.slide__btn.btn.btn--empty(href="about.html")= BUTTONS.btn_text_2
				.slide__wrap-img
					picture
						source(srcset="/img/preview_main@2x.png 2x, /img/preview_main.webp 1x")
						img.slide__img(src="/img/preview_main.png", alt="preview_main")
			.slide.slide--1
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_2
					p.slide__text.text-2--1= HEADER.desc_2
					a.slide__btn.btn.btn--empty(href='product-cpa.html')= BUTTONS.btn_text_2
				.slide__wrap-img
					picture
						source(srcset="/img/preview_cpa@2x.png 2x, /img/preview_cpa.webp 1x")
						img.slide__img(src="/img/preview_cpa.png", alt="preview_cpa")
			.slide.slide--2
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_3
					p.slide__text.text-2--1= HEADER.desc_3
					a.slide__btn.btn.btn--empty(href='product-crm.html')= BUTTONS.btn_text_2
				.slide__wrap-img
					picture
						source(srcset="/img/preview_crm@2x.png 2x, /img/preview_crm.webp 1x")
						img.slide__img(src="/img/preview_crm.png", alt="preview_crm")
			.slide.slide--3
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_4
					p.slide__text.text-2--1= HEADER.desc_4
					a.slide__btn.btn.btn--empty(href='product-scm.html')= BUTTONS.btn_text_2
				.slide__wrap-img
					picture
						source(srcset="/img/preview_scm@2x.png 2x, /img/preview_scm.webp 1x")
						img.slide__img(src="/img/preview_scm.png", alt="preview_scm")