- var HEADER = LANG.home.header;
- var BUTTONS = LANG.btns;

header.header
	.container
		.header__slider.js-header-slider
			.slide.slide--0
				.slide__content
					h1.slide__title.title.title--light.title--1!= HEADER.title_1
					p.slide__text.text-2--1= HEADER.desc_1
					a.slide__btn.btn.btn--empty(href="#")= BUTTONS.btn_text_2
				.slide__wrap-img
					img.slide__img(src="img/preview_main.png", alt="preview_main")
			.slide.slide--1
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_2
					p.slide__text.text-2--1= HEADER.desc_2
					a.slide__btn.btn.btn--empty(href="product-cpa.html")=BUTTONS.btn_text_2
				.slide__wrap-img
					img.slide__img(src="img/preview_cpa.png", alt="cpa")
			.slide.slide--2
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_3
					p.slide__text.text-2--1= HEADER.desc_3
					a.slide__btn.btn.btn--empty(href="product-crm.html")=BUTTONS.btn_text_2
				.slide__wrap-img
					img.slide__img(src="img/preview_crm.png", alt="crm")
			.slide.slide--3
				.slide__content
					h2.slide__title.title.title--light.title--1= HEADER.title_4
					p.slide__text.text-2--1= HEADER.desc_4
					a.slide__btn.btn.btn--empty(href="product-scm.html")=BUTTONS.btn_text_2
				.slide__wrap-img
					img.slide__img(src="img/preview_scm.png", alt="scm")