- var PRODUCTS = LANG.home.products;

mixin product(product)
	a.product(href=product.link)
		p.product__ttl.title.title--dark.title--4!=product.ttl
		p.product__text.text-2--1!=product.text
		p.product__name!=product.name
		i.fico.fico-arrowSlider

section.products
	.container
		include ../advantage-list
		.products__center
			h2.products__title.title.title--dark.title--2.column-big!=PRODUCTS.title
			p.products__desc.text-2--2!=PRODUCTS.desc
		.products__list
			each product in PRODUCTS.productArray
				+product(product)