- var STATISTICS = LANG.home.statistics;

section.statistics.statistics--main
	.container
		.statistics__top
			h2.statistics__title.title.title--dark.column-big!= STATISTICS.title
			p.statistics__desc.text-2--2= STATISTICS.desc
		.statistics__bottom
			.item-st
				.item-st__wrap
					p.item-st__ttl= STATISTICS.item_ttl_1
					p.item-st__text= STATISTICS.item_text_1
			.item-st
				.item-st__wrap
					p.item-st__ttl= STATISTICS.item_ttl_2
					p.item-st__text= STATISTICS.item_text_2
			.item-st
				.item-st__wrap
					p.item-st__ttl= STATISTICS.item_ttl_3
					p.item-st__text= STATISTICS.item_text_3