- var DESCRIPTION_SCM = LANG.scm.description;


section.description.description--scm
	.container
		.description__top
			.description__row
				.description__col
					img(src="img/svg/description_scm_1.svg", alt="image")
				.description__desc
					p.description__ttl.title.title--dark.title--3= DESCRIPTION_SCM.title_1
					p.description__text.text-2--1= DESCRIPTION_SCM.desc_1
			.description__row
				.description__desc
					p.description__ttl.title.title--dark.title--3= DESCRIPTION_SCM.title_2
					p.description__text.text-2--1= DESCRIPTION_SCM.desc_2
				.description__col
					img(src="img/svg/description_scm_2.svg", alt="image")
		.description__bottom
			h2.description__title.title.title--dark.title--4= DESCRIPTION_SCM.title_form
			include ../../form-int