- var DESCRIPTION_CPA = LANG.cpa.description;

section.description.description--cpa
	.container
		.description__top
			.description__row
				.description__col
					img(src="/img/svg/description_cpa_1.svg", alt="image")
				.description__desc
					p.description__ttl.title.title--dark.title--3= DESCRIPTION_CPA.title_1
					p.description__text.text-2--1= DESCRIPTION_CPA.desc_1
			.description__row
				.description__desc
					p.description__ttl.title.title--dark.title--3= DESCRIPTION_CPA.title_2
					p.description__text.text-2--1= DESCRIPTION_CPA.desc_2
				.description__col
					img(src="/img/svg/description_cpa_2.svg", alt="image")
		.description__bottom
			h2.description__title.title.title--dark.title--4!= DESCRIPTION_CPA.title_form
			include ../../form-int