- var VACANCIES = LANG.cereer.vacancies;

mixin vacancy(href, position, direction, place)
	a.vacancy(href=href)
		p.vacancy__position.title.title--dark!=position
		p.vacancy__direction!=direction
		p.vacancy__place!=place
		i.fico.fico-questionArrow

-
	const vacancyLinks = [
		'vacancy-1.html',
		'vacancy-2.html',
		'vacancy-3.html',
		'vacancy-4.html',
		'vacancy-5.html',
		'vacancy-6.html'
	];

section.vacancies
	.container
		.vacancies__top
			.vacancies__col
				i.fico.fico-vacancies1
				h4.vacancies__title.title.title--dark.title--3= VACANCIES.title_1
				p.vacancies__text.text-2.text-2--1= VACANCIES.desc_1
			.vacancies__col
				i.fico.fico-vacancies2
				h4.vacancies__title.title.title--dark.title--3= VACANCIES.title_2
				p.vacancies__text.text-2.text-2--1= VACANCIES.desc_2
		.vacancies__wrap
			h4.vacancies__caption.title.title--dark.title--3= VACANCIES.title_3
				span  6
			.vacancies__table-ttl.table-ttl
				p.table-ttl__text= VACANCIES.table_ttl_1
				p.table-ttl__text= VACANCIES.table_ttl_2
				p.table-ttl__text= VACANCIES.table_ttl_3
			.vacancies__list
				each vacancy, key in VACANCIES.vacancyArray
					+vacancy(vacancyLinks[key], vacancy.position, vacancy.direction, vacancy.place)