- var NEW_2 = LANG.new_2.content;

.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="/img/new_1.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1= NEW_2.text_1
				p.new-content__text.text-2.text-2--1= NEW_2.text_2
				p.new-content__text.text-2.text-2--1= NEW_2.text_3
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item= NEW_2.item_1
				li.list-new__item= NEW_2.item_2
				li.list-new__item= NEW_2.item_3
				li.list-new__item= NEW_2.item_4
			.new-content__desc
				p.new-content__text.text-2.text-2--1= NEW_2.text_4