include menu-mob.pug

- var MENU = LANG.menu;
- var BUTTONS = LANG.btns;



mixin menu-dark(page)
	+menu-mob(page)
	.menu.menu--dark.js-fixed-menu
		.container
			.menu__wrap
				a.logo.menu__logo(href="index.html")
					svg.logo__img(width='171' height='43' viewBox='0 0 171 43' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M44.28 29.979C42.0666 29.979 40.08 29.5124 38.32 28.579C36.56 27.6457 35.1866 26.3524 34.2 24.699C33.2133 23.019 32.72 21.1257 32.72 19.019C32.72 16.9124 33.2133 15.0324 34.2 13.379C35.1866 11.7257 36.5466 10.4324 38.28 9.49904C40.04 8.56571 42.04 8.09904 44.28 8.09904C46.3866 8.09904 48.2266 8.52571 49.8 9.37905C51.4 10.2324 52.6 11.459 53.4 13.059L49.56 15.299C48.9466 14.3124 48.1733 13.579 47.24 13.099C46.3333 12.5924 45.3333 12.339 44.24 12.339C42.3733 12.339 40.8266 12.9524 39.6 14.179C38.3733 15.379 37.76 16.9924 37.76 19.019C37.76 21.0457 38.36 22.6724 39.56 23.899C40.7866 25.099 42.3466 25.699 44.24 25.699C45.3333 25.699 46.3333 25.459 47.24 24.979C48.1733 24.4724 48.9466 23.7257 49.56 22.739L53.4 24.979C52.5733 26.579 51.36 27.819 49.76 28.699C48.1866 29.5524 46.36 29.979 44.28 29.979Z' fill='white')
						path(d='M78.4021 8.33904V29.699H73.6421V26.979C72.8421 27.939 71.8421 28.6857 70.6421 29.219C69.4421 29.7257 68.1488 29.979 66.7621 29.979C63.9088 29.979 61.6555 29.1924 60.0021 27.619C58.3755 26.019 57.5621 23.659 57.5621 20.539V8.33904H62.5621V19.859C62.5621 21.779 62.9888 23.219 63.8421 24.179C64.7221 25.1124 65.9621 25.579 67.5621 25.579C69.3488 25.579 70.7621 25.0324 71.8021 23.939C72.8688 22.819 73.4021 21.219 73.4021 19.139V8.33904H78.4021Z' fill='white')
						path(d='M89.7087 11.459C91.1487 9.21904 93.682 8.09904 97.3087 8.09904V12.859C96.882 12.779 96.4954 12.739 96.1487 12.739C94.202 12.739 92.682 13.3124 91.5887 14.459C90.4954 15.579 89.9487 17.2057 89.9487 19.339V29.699H84.9487V8.33904H89.7087V11.459Z' fill='white')
						path(d='M121.435 19.139C121.435 19.4857 121.408 19.979 121.355 20.619H104.595C104.888 22.1924 105.648 23.4457 106.875 24.379C108.128 25.2857 109.675 25.739 111.515 25.739C113.862 25.739 115.795 24.9657 117.315 23.419L119.995 26.499C119.035 27.6457 117.822 28.5124 116.355 29.099C114.888 29.6857 113.235 29.979 111.395 29.979C109.048 29.979 106.982 29.5124 105.195 28.579C103.408 27.6457 102.022 26.3524 101.035 24.699C100.075 23.019 99.595 21.1257 99.595 19.019C99.595 16.939 100.062 15.0724 100.995 13.419C101.955 11.739 103.275 10.4324 104.955 9.49904C106.635 8.56571 108.528 8.09904 110.635 8.09904C112.715 8.09904 114.568 8.56571 116.195 9.49904C117.848 10.4057 119.128 11.699 120.035 13.379C120.968 15.0324 121.435 16.9524 121.435 19.139ZM110.635 12.099C109.035 12.099 107.675 12.579 106.555 13.539C105.462 14.4724 104.795 15.7257 104.555 17.299H116.675C116.462 15.7524 115.808 14.499 114.715 13.539C113.622 12.579 112.262 12.099 110.635 12.099Z' fill='white')
						path(d='M126.238 0.019043H131.238V29.699H126.238V0.019043Z' fill='white')
						path(d='M137.8 0.019043H142.8V29.699H137.8V0.019043Z' fill='white')
						path(d='M170.243 8.33904V29.699H165.483V26.939C164.656 27.9524 163.629 28.7124 162.403 29.219C161.203 29.7257 159.869 29.979 158.403 29.979C156.323 29.979 154.456 29.5257 152.803 28.619C151.176 27.7124 149.896 26.4324 148.963 24.779C148.056 23.1257 147.603 21.2057 147.603 19.019C147.603 16.8324 148.056 14.9257 148.963 13.299C149.896 11.6457 151.176 10.3657 152.803 9.45904C154.456 8.55238 156.323 8.09904 158.403 8.09904C159.789 8.09904 161.056 8.33904 162.203 8.81904C163.376 9.29904 164.389 10.0057 165.243 10.939V8.33904H170.243ZM158.963 25.699C160.803 25.699 162.323 25.0857 163.523 23.859C164.723 22.6324 165.323 21.019 165.323 19.019C165.323 17.019 164.723 15.4057 163.523 14.179C162.323 12.9524 160.803 12.339 158.963 12.339C157.123 12.339 155.603 12.9524 154.403 14.179C153.229 15.4057 152.643 17.019 152.643 19.019C152.643 21.019 153.229 22.6324 154.403 23.859C155.603 25.0857 157.123 25.699 158.963 25.699Z' fill='white')
						path(fill-rule='evenodd' clip-rule='evenodd' d='M5.36 29.699H0L12.6 1.69905H17.72L30.36 29.699H24.92L22.12 23.219L6.63778 26.699L5.36 29.699ZM15.12 6.89904L20.4 19.139L8.77569 21.699L15.12 6.89904Z' fill='white')
						path(d='M126 42.9998H130.515V41.7796H127.491V35.9998H126V42.9998Z' fill='white')
						path(d='M133.964 35.9998H132.472V42.9998H133.964V35.9998Z' fill='white')
						path(d='M136.16 35.9998V42.9998H137.607V38.4266H137.666L139.491 42.9656H140.476L142.301 38.4437H142.36V42.9998H143.806V35.9998H141.967L140.025 40.7029H139.942L138 35.9998H136.16Z' fill='white')
						path(d='M147.496 35.9998H146.005V42.9998H147.496V35.9998Z' fill='white')
						path(d='M149.424 37.22H151.583V42.9998H153.057V37.22H155.217V35.9998H149.424V37.22Z' fill='white')
						path(d='M157.141 42.9998H161.907V41.7796H158.632V40.1082H161.649V38.888H158.632V37.22H161.893V35.9998H157.141V42.9998Z' fill='white')
						path(d='M166.549 42.9998C168.698 42.9998 170 41.6805 170 39.493C170 37.3123 168.698 35.9998 166.57 35.9998H164.049V42.9998H166.549ZM165.54 41.7318V37.2679H166.491C167.813 37.2679 168.512 37.9378 168.512 39.493C168.512 41.055 167.813 41.7318 166.487 41.7318H165.54Z' fill='white')
				ul.menu__list.nav
					li.nav__item
						a.nav__link(href="about.html")= MENU.link1
					li.nav__item.nav__item--sub
						.nav__link= MENU.link2
						.nav__submenu.submenu
							.submenu__wrap
								a.submenu__link.submenu__link--1(href="product-cpa.html")
									.submenu__wrap-ico
										i.fico.fico-cpa
									.submenu__info
										p.submenu__ttl= MENU.link3
										p.submenu__text= MENU.menu_desc_1
								a.submenu__link.submenu__link--2(href="product-crm.html")
									.submenu__wrap-ico
										i.fico.fico-crm
									.submenu__info
										p.submenu__ttl= MENU.link4
										p.submenu__text= MENU.menu_desc_2
								a.submenu__link.submenu__link--3(href="product-scm.html")
									.submenu__wrap-ico
										i.fico.fico-scm
									.submenu__info
										p.submenu__ttl= MENU.link5
										p.submenu__text= MENU.menu_desc_3
								a.submenu__link.submenu__link--4(href="integrations.html")
									.submenu__wrap-ico
										i.fico.fico-int
									.submenu__info
										p.submenu__ttl= MENU.link6
										p.submenu__text= MENU.menu_desc_4
					li.nav__item
						a.nav__link(href="case.html")= MENU.link7
					li.nav__item
						a.nav__link(href="contacts.html")= MENU.link8
				.menu__right
					.menu__lang.lang
						i.fico.fico-world
						.lang__list-wrap
							.lang__list
								a.lang-item(href=`/en/${page}.html`)
									img.lang-item__ico(src="/img/svg/langEN.svg", alt="langEN")
									span.lang-item__text International
								a.lang-item(href=`/${page}.html`)
									img.lang-item__ico(src="/img/svg/langRU.svg", alt="langRU")
									span.lang-item__text Русский
					button.menu__btn.btn.btn--full.js-show-popup(data-target="#popup-demo")=BUTTONS.btn_text_1
					.burger.js-burger(data-target="#js-mobile-menu")
						span.burger__line
						span.burger__line
						span.burger__line